{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

{% block main %}
    {{ include('default/_flash_messages.html.twig') }}
    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 underBarContent newsBtns">
                    <a href="{{ path('blog_index') }}" class="btn blueBtn">ALL</a>
                    <a href="{{ path('blog_index',{'type':'news'}) }}" class="btn blueBtn">NEWS</a>
                    <a href="{{ path('blog_index',{'type':'promotion'}) }}" class="btn blueBtn">PROMOTIONS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>{{ 'title.edit_post'|trans({'%id%': post.id}) }}</h1>


        {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.type) }}
        {{ form_row(form.file) }}

        {{ form_row(form.content) }}
        {{ form_row(form.publishedAt) }}


        <input type="submit" name="submitbtn" value="SAVE" class="btn blueBtn"/>

        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
        {{ form_end(form) }}</div>

{% endblock %}

