<table class="table allDealersTable adminDealer tableExport">
    {% spaceless %}
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Order Value</th>
            <th>Expire time</th>
            <th class="hidden">Contact Person</th>
            <th class="hidden">Address</th>
            <th class="hidden">City</th>
            <th class="hidden">Zip</th>
            <th class="hidden">Country</th>
            <th class="hidden">State</th>
            <th class="hidden">E-mail</th>
            <th class="hidden">Support e-mail</th>
            <th class="hidden">Website</th>
            <th class="hidden">Phone number</th>
        </tr>
        </thead>
        <tbody>
        {%- for key, value in dealers -%}
        <tr>
            <td>
                <a href="{{- path('account_dealer_profile', { 'id': value.id }) }}">
                    {{- value.company -}}
                </a>
            </td>
            {%- set sum = 0 %}
            {%- for ordKey, ordValue in value.orders %}
                {%- set sum=sum+ordValue.cost %}
            {%- endfor -%}
            <td class="statusIcon{{- value.status -}}">
                {{- value.status -}}</td>
            <td class="dealerValue">{{- sum -}}</td>
            <td>
                {{- value.calcExpiredDate() -}}
            </td>
            <td class="hidden">{{- value.userName -}}</td>
            <td class="hidden">{{- value.address -}}</td>
            <td class="hidden">{{- value.city -}}</td>
            <td class="hidden">{{- value.zip -}}</td>
            <td class="hidden">{{- value.country -}}</td>
            <td class="hidden">{{- value.state -}}</td>
            <td class="hidden">{{- value.email -}}</td>
            <td class="hidden">{{- value.supportEmail -}}</td>
            <td class="hidden">{{- value.website -}}</td>
            <td class="hidden">{{- value.phone -}}</td>

            {%- endfor -%}
        </tbody>
    {% endspaceless %}
</table>