{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}

{% endblock %}
{% block footer %}
{% endblock %}
{% block body %}
    <div class="homeContaiter animated">
        <div class="logo pull-left">
            <a href="#">
                <img src="{{ asset('img/logoImg.png') }}" alt="" class="animated rotateIn logoImg">
                <img src="{{ asset('img/logoText.png') }}" alt="">
            </a>
        </div>
        <div class="page-header pull-right">
            <div class=""><h2>BimmerTech</h2></div>
            <div class=""><h1><b>Dealership Platform</b></h1></div>
        </div>

        <div class="col-lg-2 col-md-3 loginForm">
            <div class="well noPaddingLeft noPaddingRight">
                <form action="{{ path('api_resetting_request') }}" method="post" id="fogotForm">
                    <fieldset>
                        <div class="form-group">
                            <div class="checkForgot">
                                <p></p>
                                {#{{ 'label.checkEmail'|trans }}#}
                            </div>
                            <input type="email" id="usernameFogot" name="email" value="{{ last_username }}"
                                   placeholder="{{ 'label.author_email'|trans }}"
                                   class="form-control" required/>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <div class="form-group loginSubmitBlock">
                            <button type="submit" class="btn loginBtn btn-block"> GET NEW PASSWORD
                            </button>
                        </div>
                        <br>
                        <div class="form-group" id="hideForgot"><a href="#" class="whiteColor"> I have a password</a>
                        </div>

                    </fieldset>
                </form>
                <br>
                <div class="col-lg-2 col-md-3 hidden" id="disableBlock"></div>
                <form action="{{ path('security_login') }}" method="post" id="authForm">
                    <fieldset>
                        {% if error %}
                            <div class="badPass">
                                {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
                                Incorrect e-mail address or password.
                            </div>

                        {% endif %}
                        <div class="form-group">
                            <input type="email" id="username" name="_username" value="{{ last_username }}"
                                   placeholder="{{ 'label.author_email'|trans }}"
                                   class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="_password" class="form-control"
                                   placeholder="{{ 'label.password'|trans }}" required/>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <input type="hidden" name="_notif_token" id="notificationToken" value=""/>
                        <div class="form-group loginSubmitBlock">
                            <button type="submit" class="btn loginBtn pull-left"> {{ 'action.sign_in'|trans }}
                            </button>
                            <div class="forgotText whiteColor" id="showHide"><a class="whiteColor"
                                                                                href="#">{{ 'label.forgot'|trans }}</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="footer-copyright-home" class="col-md-6">
            <p>Copyrights BimmerTech {{ 'now'|date('Y') }}. All rights reserved </p>
        </div>
    </div>


{% endblock %}
{% block options_js %}

{% endblock %}