{% extends 'base.html.twig' %}

{% block body %}
    <div class="container containerMarginTop">
        <div class="col-md-8">
            <div class="row">
                <a href="{{ path('admin_account_index') }}">
                    <button class="btn btn-info"><i class="fa fa-angle-left" aria-hidden="true"></i>
                        Back
                    </button>
                </a>
            </div>
            <br>
            <div class="row animated bounceInRight">
                <h1>List of managers</h1>
            </div>
            <br>
            <div class="col-md-12 animated zoomIn">
                <table class="table table-hover table-middle-aligned">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in managers %}
                        <tr class="animated">
                            <td>
                                {{ value.username }}
                            </td>
                            <td>{{ value.email }}</td>
                            <td>{{ value.phoneNumber }}</td>
                            <td class="managerFoto"><img src="
                            {% if(value.webPath) %}

                            {{ value.webPath }}
                            {% else %}
                            {{ asset('img/profile_default.png') }}
                            {% endif %}
                            " alt=""></td>
                            <td>
                                <a href="#" class=" editOrderBtn btn btn-info btn-sm editBlockAjaxBtn"
                                   data-id="{{ value.id }}" data-userid="{{ value.id }}"
                                   data-url="managers/{{ value.id }}"
                                >Edit</a>
                            </td>
                            <td>
                                <a href="{{ path('admin_dealer_delete_by_id',{'id':value.id}) }}"></a>
                                <a href="#"
                                   class="btn btn-danger btn-sm deleteBtn" data-id="{{ value.id }}" data-url="managers">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class=" row">
                    <div class="col-md-10 text-center">
                        <button id="addNewManagerBtn" class="btn btn-default">Add new Manager</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addNewManager" class="animated col-md-5 hidden slideInRight ">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav col-md-10">
                <li>
                    <a href="#"> <i class="fa fa-times closeAccount pull-left" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="accountBlock col-md-6">

            <h2>New Manager</h2>
            <br>
            {{ form_start(form_new_manager) }}
            {{ form_widget(form_new_manager) }}
            <input type="submit" value="SAVE" class="btn blueBtn pull-right"/>
            {{ form_end(form_new_manager) }}
        </div>
    </div>
    <div id="editManager" class="animated col-md-5 hidden slideInRight editBlockAjax ">
        <div id="wrapperEdit">
            {#<div class="navbar-collapse collapse">#}
            {#<ul class="nav navbar-nav col-md-10">#}
            {#<li>#}
            {#<a href="#" class="closeAccount"> <i class="fa fa-times  pull-left" aria-hidden="true"></i></a>#}
            {#</li>#}
            {#</ul>#}
            {#</div>#}
            {#<div class="accountBlock col-md-6">#}

            {#<h2>Personal Edit</h2>#}
            {#<br>#}

            {#{{ form_start(edit_dealer) }}#}
            {#{{ form_widget(edit_dealer) }}#}
            {#<input type="submit" value="SAVE" class="btn blueBtn pull-right"/>#}
            {#{{ form_end(edit_dealer) }}#}
            {#</div>#}
        </div>
    </div>
{% endblock %}
