{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-md-11  dealerProfileLeftBlock  noPaddingLeft noPaddingRight underBarContent">
                    <div class="col-md-6  btn no-hover no-cursor ">
                        <span>Account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container containerMarginTop">
        <div class="col-md-7 animated slideInLeft">
            <br>
            <div class="row">
                <div class="col-md-6 pull-left"><h5>{{ user.company }} - <b>ORDER LIST</b></h5></div>
            </div>
            <div class="col-md-12">
                <div class="tableOverflow table-responsive">
                    <table class="table adminDealer dealerTable">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>List Value</th>
                            <th>Order cost</th>
                            <th>Number of items</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in user.orders %}
                            <tr class="animated">
                                <td>{{ value.createAt|date("d-m-y") }}</td>
                                <td>$ {{ value.value }}</td>
                                <td>$ {{ value.cost }}</td>
                                <td>{{ value.itemNumber }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class=" col-lg-4 col-md-5 col-sm-10 col-xs-12 text-center pull-right totalValue">
                        <h5><b>TOTAL VALUE: $ {{ user.getOrdersTotalSum() }}</b></h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="dealerManager" class="animated col-lg-4 col-md-4 col-sm-12 col-xs-12 slideInRight ">
            <div class="dealerManagerAccount right">
                <br>
                <br>
                <br>
                <div class="row dealerInfoRight col-lg-12 col-md-12  col-sm-6 col-xs-12 ">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="{{ asset('img/status.png') }}" alt="">
                    </div>
                    <div class=" col-lg-8 col-md-8  col-sm-8 col-xs-8 statusText">
                        <p class="text-left"> Status:<b> {{ user.status }}</b></p>
                        {% if user.status != 'BRONZE' %}
                            <p class="text-left">Expire time :
                                {% if  user.calcExpiredTime != null %}
                                    <b> {{ user.calcExpiredTime|date("d-m-y") }}</b>
                                    ( {{ user.calcExpiredDate }})
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <br>
                <br>
                {% if user.userManager %}
                    <div class="row col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
                        <p><b>YOUR MANAGER</b></p>
                        <hr>
                        <div class="row dealerInfoRight">
                            <div class="col-md-8 statusText">
                                <p class="text-left">  {{ user.userManager.username }}</b></p>
                                <p class="text-left">{{ user.userManager.email }}</p>
                                <p class="text-left">{{ user.userManager.phoneNumber }}</p>
                            </div>
                            <div class="col-md-4 col-sm-3 col-xs-3 profileFoto">
                                <img src="{{ user.userManager.webPath }}" alt="">
                            </div>
                        </div>
                    </div>
                {% endif %}
                <br>
            </div>

        </div>
    </div>
{% endblock %}
