{% extends '::base.html.twig' %}

{% block title %}{{ 'title.resetting.reset' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <p>To set your new password for the BimmerTech Dealer Platform, please enter it below.</p>
        {{ form_start(form, {'action': path('api_resetting_reset', {'confirmationToken': confirmationToken}), 'method': 'POST'}) }}
        {{ form_widget(form) }}

        <input type="submit" value="{{ 'button.resetting.reset' | trans }}" class="btn btn-default pull-right"/>
        {{ form_end(form) }}
    </div>
{% endblock %}