{% extends '::base.html.twig' %}

{% block title %}{{ 'title.resetting.reset' | trans }}{% endblock %}

{% block body %}
    <div class="alert alert-success container" role="alert">{{ 'message.resetting.reset.success' | trans }}</div>
{% endblock %}