{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 underBarContent newsBtns">
                    <a href="{{ path('blog_index') }}" class="btn blueBtn
                            {% if app.request.get('type') ==null %}activeNews {% endif %}">ALL</a>
                    <a href="{{ path('blog_index',{'type':'news'}) }}" class="btn blueBtn
                            {% if app.request.get('type') =='news' %}activeNews {% endif %}">NEWS</a>
                    <a href="{{ path('blog_index',{'type':'promotion'}) }}" class="btn blueBtn
                            {% if app.request.get('type') =='promotion' %}activeNews {% endif %}">PROMOTIONS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <br>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% for post in posts %}
            {% if post.type is same as('news') %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 blockNews ">
                {% else %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blockPromotion">
                    {% endif %}

                    <div class="thumbnailPhoto">
                        <a href="{{ path('blog_post',{'slug':post.slug}) }}">
                            <img src="{{ post.getWebPath() }}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 newsTitles ">
                        <div class="row newsTitlesText">
                            <p>
                                <a href="{{ path('blog_post',{'slug':post.slug}) }}">
                                    {{ post.title }}
                                </a>
                            </p>
                        </div>
                        <div class="row">
                            <p class="newsDate">
                                <span class=""> {{ post.publishedAt|date('d F Y') }}</span>
                            </p>
                        </div>
                    </div>
                </div>

                {% else %}
                    <div class="well">{{ 'No posts found.' }}</div>
                {% endfor %}

                {% if posts.haveToPaginate %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="navigation text-center">
                            {{ pagerfanta(posts, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated'}) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


