{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}

    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 underBarContent newsBtns">
                    <a href="{{ path('blog_index') }}" class="btn blueBtn">ALL</a>
                    <a href="{{ path('blog_index',{'type':'news'}) }}" class="btn blueBtn">NEWS</a>
                    <a href="{{ path('blog_index',{'type':'promotion'}) }}" class="btn blueBtn">PROMOTIONS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bntBackNews">
            <a href="{{ back }}">BACK</a>
            <hr>
        </div>
        <div class="col-lg-2 col-md-2 typeNewsBlock ">
            {{ post.type }}
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 contentNewsBlock"><h1>{{ post.title }}</h1>
            <div class="row">
                {{ post.content|md2html }}
            </div>
            <hr>
            <div class="row tellNewsBlock">
                <p><b>Tell us what you think</b></p>
                <form action="" id="tellNewsForm">
                    <textarea name="" id="" cols="30" rows="5" minlength="10" required class="btn-block form-control"></textarea>
                    <br>
                    <div class="pull-right">
                        <button type="submit" class="btn blueBtn btn-block "> SEND</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-2 col-md-2  dateNewsBlock">
            <p class="newsDate">
                <span class=""> {{ post.publishedAt|date('d F Y') }}</span>
            </p>
        </div>
    </div>
{% endblock %}


