{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Username</th>
            <th>Email</th>
            {#<th>Password</th>#}
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                {#<td>{{ user.fullName }}</td>#}
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {#<td>{{ user.password }}</td>#}
                <td>{{ user.roles[0] }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
