{% block subject %}
    {% autoescape false %}
        {{ 'ticket.subject' | trans }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {#{{ 'ticket.answer' | trans }}#}
    {{ replay }}
    <br> <br>


{% endblock %}