{% block subject %}
    {% autoescape false %}
        SPOT A MISTAKE
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    <p>User: {{ name }}</p>
    <p>VIN: {{ vin }}</p>
    <p>Message: {{ message }}</p>
{% endblock %}