{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usermanagers list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phonenumber</th>
                <th>Fullname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                {#<th>Roles</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for uSerManager in uSerManagers %}
            <tr>
                <td><a href="{{ path('usermanager_show', { 'id': uSerManager.id }) }}">{{ uSerManager.id }}</a></td>
                <td>{{ uSerManager.phoneNumber }}</td>
                <td>{{ uSerManager.fullName }}</td>
                <td>{{ uSerManager.username }}</td>
                <td>{{ uSerManager.email }}</td>
                {#<td>{{ uSerManager.password }}</td>#}
                <td>{{ uSerManager.roles[0] }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usermanager_show', { 'id': uSerManager.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usermanager_edit', { 'id': uSerManager.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usermanager_new') }}">Create a new uSerManager</a>
        </li>
    </ul>
{% endblock %}
