{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usermanager</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ uSerManager.id }}</td>
        </tr>
        <tr>
            <th>Phonenumber</th>
            <td>{{ uSerManager.phoneNumber }}</td>
        </tr>
        <tr>
            <th>Fullname</th>
            <td>{{ uSerManager.fullName }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ uSerManager.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ uSerManager.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ uSerManager.password }}</td>
        </tr>
        <tr>
            <th>file</th>
            <td>{{ uSerManager.path }}</td>
        </tr>
        {#<tr>#}
        {#<th>Roles</th>#}
        {#<td>{{ uSerManager.roles }}</td>#}
        {#</tr>#}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usermanager_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usermanager_edit', { 'id': uSerManager.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
