{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 dealerProfileLeftBlock  noPaddingLeft noPaddingRight underBarContent">
                    <div class="row ">
                        <form class="form-inline col-md-12 col-sm-12 col-xs-12" id="vinCheckForm">
                            <div class=" col-md-4 col-sm-7 col-xs-12 noPaddingRight">
                                <div class=" col-md-12 col-sm-12 col-xs-12 noPaddingRight">
                                    Beta version
                                    <input type="text" class="form-control" id="inputCheckVin" required
                                           placeholder="Enter your VIN" required pattern="^[a-zA-Z0-9]{7,17}$">
                                </div>
                            </div>
                            <div class=" col-md-3 col-sm-2 col-xs-12">
                                <button type="submit" class="btn blueBtn checkVinBtn "><b>SUBMIT</b></button>
                            </div>
                            <div class="animated zoomIn col-md-4 col-sm-2 col-xs-12" id="printVincheckBtn">
                                <div class="">
                                    <div class="blueBtn btn " id="printVincheck">CUSTOMER PRINTOUT</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container containerMarginTop">
        <div class="col-md-6 textVinInfo">
            <p>This VIN check tool is currently in beta. Some compatible products may be missing.<br>
                If you suspect an error, please help us improve this tool by sending a report below.</p>
        </div>
        <div class="col-md-10 animated flipInY" id="whatCheck">
            <div class="row">
                <div class="row vinCheckResult">
                    <div class="printBlock col-md-8">
                        <div class="col-md-4 noPaddingLeft">
                            <div class="vincheckErrorDetails row"></div>
                            <div class="vincheckDetails row"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="vincheckErrorProducts row"></div>
                            <div class="vincheckProducts row"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="vincheckErrorMMI row"></div>
                        <div class="vincheckMMI row"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-10 spotErrorBlock">
            <div class="row text-center">
                <div class="col-md-10  col-md-offset-1 col-sm-12">
                    <p><b>SPOT A MISTAKE?</b></p>
                    <br>
                    <form action="" id="spotErrorForm">
                        <textarea name="" id="" cols="30" rows="5" minlength="10"
                                  class="btn-block form-control" required></textarea>
                        <br>
                        <div class="col-md-4 col-md-offset-4">
                            <button type="submit" class="btn blueBtn btn-block "> SEND</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
