{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userdealers list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Company</th>
                <th>Contactperson</th>
                <th>Address</th>

                <th>City</th>
                <th>Zip</th>
                <th>Country</th>
                <th>State</th>
                <th>Phone</th>
                <th>Supportemail</th>
                <th>Fullname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userDealer in userDealers %}
            <tr>
                <td><a href="{{ path('userdealer_show', { 'id': userDealer.id }) }}">{{ userDealer.id }}</a></td>
                <td>{{ userDealer.status }}</td>
                <td>{{ userDealer.company }}</td>
                <td>{{ userDealer.contactPerson }}</td>
                <td>{{ userDealer.address }}</td>

                <td>{{ userDealer.city }}</td>
                <td>{{ userDealer.zip }}</td>
                <td>{{ userDealer.country }}</td>
                <td>{{ userDealer.state }}</td>
                <td>{{ userDealer.phone }}</td>
                <td>{{ userDealer.supportEmail }}</td>
                <td>{{ userDealer.fullName }}</td>
                <td>{{ userDealer.username }}</td>
                <td>{{ userDealer.email }}</td>
                <td>{{ userDealer.password }}</td>
                <td>{{ userDealer.roles[0] }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userdealer_show', { 'id': userDealer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('userdealer_edit', { 'id': userDealer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userdealer_new') }}">Create a new userDealer</a>
        </li>
    </ul>
{% endblock %}
