{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userdealer</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userDealer.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ userDealer.status }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ userDealer.company }}</td>
            </tr>
            <tr>
                <th>Contactperson</th>
                <td>{{ userDealer.contactPerson }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ userDealer.address }}</td>
            </tr>

            <tr>
                <th>City</th>
                <td>{{ userDealer.city }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ userDealer.zip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ userDealer.country }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ userDealer.state }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ userDealer.phone }}</td>
            </tr>
            <tr>
                <th>Supportemail</th>
                <td>{{ userDealer.supportEmail }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ userDealer.fullName }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ userDealer.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ userDealer.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ userDealer.password }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ userDealer.roles[0] }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userdealer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('userdealer_edit', { 'id': userDealer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
